@use '../abstracts/mixins' as mix;
@use '../abstracts/variables' as variable;

.wrapper {
  background-color: variable.$color-light-blue;

  &__background {
    position: sticky;
    top: 0;
    height: 100vh;
    height: 100dvh;
    z-index: 0;
    @include mix.bg-image-set(
      $path: "/src/assets/images/background/background",
      $formats: (avif, webp, png)
    );
    background-size: cover;
    background-position: center;
  }

}



