// Цвета

$color-main: #fff;
$color-black: #000;
$color-dark-blue: #004080;

$gradient-hero: linear-gradient(197deg, rgba(0, 0, 0, 0) 24.258%, rgba(0, 0, 0, 0.48) 86.911%);

// Шрифт

$font-primary: Manrope;