// Цвета

$color-main: #fff;
$color-black: #000;
$color-black-name: #666;
$color-black-services-link: #999;
$color-black-services-text: #4d4d4d;
$color-light-blue: #f5f5f5;
$color-dark-blue: #004080;
$color-blue-card: #00488f;

$gradient-hero: linear-gradient(197deg, rgba(0, 0, 0, 0) 24.258%, rgba(0, 0, 0, 0.48) 86.911%);

// Шрифт

$font-primary: Manrope;