@use '../abstracts/variables' as variable;

.about {
  color: variable.$color-dark-blue;
  padding: 160px 0 250px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__name {
    color: variable.$color-black-name;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 10px;
  }

  &__title {
    text-transform: uppercase;
    max-width: 705px;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    line-height: 1.17;
    margin: 0 0 30px;
  }

  &__title-span {
    display: block;
  }

  &__text {
    max-width: 650px;
    text-align: center;
    font-size: 20px;
    line-height: 1.35;
    margin: 0 0 50px;
    color: variable.$color-black;
  }

  &__cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    // gap: 0 25px;
  }

  &__cards-wrapper {
    position: relative;
    z-index: 1;
    width: 421px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    background-color: variable.$color-main;
    box-shadow: 0 10px 50px 0 rgba(0, 64, 128, 0.05);
    padding: 58.5px 0;
    cursor: pointer;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(180deg, #f7f7f7 0%, #f2f2f2 100%);
      opacity: 0;
      transition: opacity .5s ease;
      border-radius: inherit;
      z-index: -1;
    }

    &:hover:before {
      opacity: 1;
    }
  }

  &__cards-number {
    font-size: 48px;
    font-weight: 600;
    margin: 0 0 25px;
  }

  &__cards-icon {
    margin: 0 0 25px;
  }

  &__cards-title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.38;
    margin: 0;
    color: variable.$color-black;
    max-width: 345px;
  }
}