@use '../abstracts/variables' as variable;

.footer {
  padding: 130px 0 0;
  // display: none;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__name {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 10px;
    color: variable.$color-black-name;
  }

  &__title {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 600;
    margin: 0 0 30px;
    color: variable.$color-dark-blue;
  }

  &__description {
    text-align: center;
    max-width: 610px;
    font-size: 20px;
    line-height: 1.35;
    color: variable.$color-black;
    margin: 0 0 80px;
  }

  &__address {
    max-width: 1460px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 0 130px;
    font-style: normal;
  }

  &__contact-block {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0 20px;
    padding-right: 28px;
    border-radius: 30px;
    transition: background-color .3s ease-in;
    
    &:has(.footer__contact-link:hover) {
      background-color: rgba(255, 255, 255, 0.7);

      .footer__icon-wrapper {
        background-color: variable.$color-dark-blue;
      }

      .footer__icon {
        color: variable.$color-main;
      }
    }
  }

  &__icon-wrapper {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 10px 50px 0 rgba(0, 64, 128, 0.1);
    background-color: variable.$color-main;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s ease-in;
  }

  &__icon {
    color: variable.$color-dark-blue;
    transition: color .3s ease-in;
  }

  &__contact-link {
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    color: variable.$color-black;
    
    &:after {
      content: "";
      position: absolute;
      inset: 0;
    }
  }

  &__location-text {
    max-width: 303px;
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: variable.$color-black;
    line-height: 1.22;
  }

  &__copyright {
    position: relative;
    z-index: 1;
    max-width: 1920px;
    background-color: variable.$color-main;
    padding: 15px 0 21px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-left: solid 1px variable.$color-light-blue;
    border-right: solid 1px variable.$color-light-blue;
  }

  &__copyright-text {
    text-align: center;
    color: variable.$color-black;
    margin: 0;
    font-weight: 500;
    line-height: 1.38;
    max-width: 155px;
  }
}